.home-globals {
    height: auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details-page-globals {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
    width:100%;
}

.category-page-globals {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100vw;
}

.login-page-globals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.cart-page-globals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    padding: 0;
}